

h2{
  background: #091A45; 
  color: #fff; 
  font-size: 25px; 
  font-weight: 100;
  text-transform: uppercase; 
  padding: 5px; 
  letter-spacing: 2px; 
  overflow: hidden; 
  height: 30px; 
  text-align:justified;
  width: 350px; 
  margin: 0 auto
  
}
body{
 
  
}

#lock{
  background-color: #e6e6e6;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  top: 120px;
  left: 40px;
  border: 2px solid #999999;

}

#outerLock{
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 1px solid #999999;
  margin: 1px;
}

#innerLock{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #999999;
  margin: 17px 10px 2px 10px;

}
#keyhole{
  color: #999999;
  margin: 0 2px 3px 3px;
  font-size: 9px;
}

#guessWho{

position: relative;
left: 40px;
top: 40px;

}

#guess{
  font-family: 'Karla', sans-serif;
  color: grey;
  text-transform: uppercase; 
  font-size: 300%;
  position: relative;
  left: 10px;

}

#who{
  font-family: 'Karla', sans-serif;
  color: grey;
  text-transform: uppercase; 
  font-size: 350%;
  position: relative;
  left: 25px;
  line-height: 2px;
}


#tardis{
  width: 440px;
  height: 600px;
  position: relative ;
  left: 200px;
  top: -35px;

}

#roofTop{
  position:relative;
  top:30px;
  left:-25px;
  
}

.lightDome{
 background-color:#0c4f83;
  box-sizing: border-box;
  border-style:  solid;
  border-color:#1066a8;
  display:block;
  position:relative;
  top:-30px;
  left:287px;
  height:5px;
  width:27px;
  border-radius:4px 4px 0 0;
 
}

.lightTop{
  background-color:#0c4f83;
  box-sizing: border-box;
  border-color:#1066a8;
  display:block;
  position:relative;
  top:-30px;
  left:286px;
  height:8px;
  width:30px;
  padding-left:5px;
  z-index:10;
}

.light{
  background-color:white;
  display:block;
  position:relative;
  top:-30px;
  left:288px;
  border: 3px solid #145788;
  height:25px;
  width:25px;
  padding-left:5px;
}

.lightBase{
  background-color:#0c4f83;
  box-sizing: border-box;
  border-color:#1066a8;
  display:block;
  height:10px;
  width:30px;
  position:relative;
  top:-30px;
  left:285px;
  Z-index:10;
}


.roofSlant {
	border-bottom: 28px solid #1066a8;
	border-left: 153px solid transparent;
	border-right: 153px solid transparent;
	height: 0;
	width:0;
  position:relative;
  top:-5px;
  left:118px;
 
}
.roofUnSlant {
	background-color:#145788;
  border-bottom: 2px solid #1066a8;
  display:block;
  height:15px;
  width:310px;
  position:relative;
  top:-5px;
  left:116px;
  z-index:-1;
}
#littleBit{
 background-color:#0c4f83;
 border-style:  outset;
 border-color:#1066a8;
 border-radius:5px 0 0 5px;
 height:46px; 
 width:15px;
 margin:23px 0px 0px -20px;
 Z-index:45; 
  
}

#top{
  background-color: #0c4f83;
  border: 1px solid #1066a8;
  height:97px;
  width: 305px;
  margin: 20px 0 0 0;
  position:relative;
  top:-25px;
  left:115px;
  z-index:-2;
  
}

#littleBit2{
 background-color:#0c4f83;
 border-style:  outset;
 border-color:#1066a8;
 border-radius:0 5px 5px 0;
 height:46px; 
 width:15px;
 margin:20px 0 0 35px;
 Z-index:45;  
}

#otherLittleBit{
 background-color:#0c4f83;
 border-style:  outset;
 border-color:#1066a8;
 border-radius:5px 0px 0px 0;
 height:22px; 
 width:22px;
 margin:-95px 80px 0px 7px;
 z-index:1; 
}

#otherLittleBit2{
 background-color:#0c4f83;
 border-style:  outset;
 border-color:#1066a8;
 border-radius:0px 6px 0px 0px;
 height:22px; 
 width:22px;
 margin:-93px 30px 0px 3px;
 z-index:1; 
}
.policeCall{
    background-color:#0c4f83;
    border-style:  outset;
    border-color:#1066a8;
    border-radius:5px;
    border-width: 3px;
    height:45px;
    width:317px;
    position:relative;
    left:110px;
    top:-80px;
    z-index:10;
}
.call{
    background-color:#091a45;
    font-family: 'Lato', sans-serif;
    color:white;
    font-size:70%;
    text-transform: uppercase; 
    text-align:center;
    border-style: inset;
    border-color:#1066a8;
    border-width: 5px;
    position:relative;
    left:5px;
    top:3px;
    height:20px;
    width:298px;
    z-index:15;
}

small{
    font-size: 10px;
    text-align: center;
}

.wrapper {
	  color:white;
    display: grid;
    grid-template-columns: 100px 40px 100px;
	  height:35px;

	}

	.box {
		border-radius: 5px;
		padding: 2x;
		font-size: 150%;
	}

	.public {
		grid-column: 2 / 3;
		grid-row: 1;
    height: 12px;
    text-align: center;
    line-height: 9px;
    padding-left: 40px;
	}

	.boxes {
		grid-column: 3 ;
		grid-row: 1 / 3;
    text-align: center;
    padding-top: 1px;
    padding-left: 80px;
       
	}

	.police {
	    grid-column: 1 ;
	    grid-row: 1/3 ;
      text-align: center;
      padding-top: 1px;
      padding-left: 45px;
    
	}
	.calls {
	    grid-column: 2;
	    grid-row: 2;
      height: 12px;
      text-align: center;
      line-height: 0.2;
      padding-left: 45px;
      padding-bottom: px;

	}


.leftPillar{
  background-color:#0c4f83;
  box-sizing: border-box;
  border-style:  outset;
  border-color:#1066a8;
  border-width: 5px;
  border-radius:6px 0 0 0;
  position:relative;
  left:40px;
  top:-151px;
  height:498px;
  width:40px;
  z-index:5px;
}

.doorContainer{
  position: relative;
  left: 50px; 
  height:500px;
  width:300px;
 
  
}
.leftDoor{
  background-color:#0c4f83;
   box-sizing: border-box;
   background-color:#0c4f83;
  border-style:  outset;
  border-color:#1066a8;
  float:left;
  height:430px;
  width:130px;
  position:relative;
  left:80px;
  top:-578px;
 
}

.leftWindow{
  background-color:white;
  border-style:  outset;
  border-color:white;
  border-width: 3px;
  margin:12px 25px 0 20px;
  padding: 2px;
   width:83px;
  height:90px;
}
.pane1{
  background-color:darkgrey;
  border-style:  inset;
  border-color:white;
  border-width: 3px;
  box-sizing: border-box;
  float: left;
  margin:2px 2px 2px 3px;
  padding:1px ;
  width:19px;
  height:36px;   
}
.pane2{
  background-color:Grey;
  border-style: inset;
  border-color:white;
  border-width: 3px;
  box-sizing: border-box;
  float: left;
  margin:2px 2px 2px 3px;
  padding:1px ;
  width:19px;
  height:36px;     
}

.stJohn{
  margin:20px 20px;
  width:30px;
  height:30px;
  
}

.panel1{
  background-color:#0c4f83;
  border-style:  inset;
  border-color:#1066a8;
  border-width: 5px;
  margin:12px 10px 0 20px ;
  padding:0;
 width:83px;
  height:90px;
}
.freeFor{
 background-color:white;
  font-family: times new roman;
  text-align:center;
  margin:0;
  padding: 0;
  width:73px;
  height:82px;
}

.policeTelephone{
  padding: 3px 2px 0 2px;
  font-size:7px;
  line-height: 6px;
}

.policeTelephone small{
  font-size: 4px;

}
.inbetween{
  background-color:#0c4f83;
  box-sizing: border-box;
  border-style:  outset;
  border-color:#1066a8;
  border-width: 3px;
  float: left;
  height:428px;
  width:18px;
  position:relative;
  left:80px;
  top:-578px;
  z-index: 32;
}
.rightDoor{
  background-color:#0c4f83;
   box-sizing: border-box;
  border-style:  outset;
  border-color:#1066a8;
  box-sizing: border-box;
  float: left;
  height:430px;
  width:130px;
  position:relative;
  left:80px;
  top:-578px;
}
.rightWindow{
  background-color:white;
  border-style:  outset;
  border-color:white;
  border-width: 3px;
  margin:12px 25px 0 20px;
  padding: 2px;
   width:83px;
  height:90px;
}

.rightPillar{
  background-color:#0c4f83;
  box-sizing: border-box;
  border-style:  outset;
  border-color:#1066a8;
  border-width: 5px;
  border-radius:0 6px 0 0;
  position: relative;
  top:-650px;
  left: 358px;
  height:499px;
  width:40px;

}

#base{
  background-color:#0c4f83;
  box-sizing: border-box;
  border-style:  outset;
  border-color:#1066a8;
  border-width: 5px;
  border-radius:6px 6px 0 0;
  position: relative;
  top:-650px;
  left: 15px;
  height:20px;
  width:420px;

}


