

h2{
  background: #091A45; 
  color: #fff; 
  font-size: 25px; 
  font-weight: 100;
  text-transform: uppercase; 
  padding: 5px; 
  letter-spacing: 2px; 
  overflow: hidden; 
  height: 30px; 
  text-align:justified;
  width: 350px; 
  margin: 0 auto
  
}
body{
  background-image: url("https://pm1.narvii.com/5819/5e5f41e74ef996eeb7eaa280875ed6577a665283_hq.jpg");
  
}

#guessWho{
    font-family: 'Karla', sans-serif;
    color: white;
}

#tardis{
  width: 440px;
  height: 600px;
  position: relative ;
  left: 200px;

}

#roofTop{
  position:relative;
  top:50px;
  left:-16px;
  
}

.lightDome{
 background-color:#0c4f83;
  box-sizing: border-box;
  border-style:  solid;
  border-color:#1066a8;
  display:block;
  position:relative;
  top:-30px;
  left:287px;
  height:5px;
  width:27px;
  border-radius:4px 4px 0 0;
 
}

.lightTop{
  background-color:#0c4f83;
  box-sizing: border-box;
  border-color:#1066a8;
  display:block;
  position:relative;
  top:-30px;
  left:286px;
  height:8px;
  width:30px;
  padding-left:5px;
  z-index:10;
}

.light{
  background-color:white;
  display:block;
  position:relative;
  top:-30px;
  left:288px;
  border: 3px solid #145788;
  height:25px;
  width:25px;
  padding-left:5px;
}

.lightBase{
  background-color:#0c4f83;
  box-sizing: border-box;
  border-color:#1066a8;
  display:block;
  height:15px;
  width:30px;
  position:relative;
  top:-30px;
  left:285px;
  Z-index:10;
}


.roofSlant {
	border-bottom: 60px solid #1066a8;
	border-left: 165px solid transparent;
	border-right: 165px solid transparent;
	height: 0;
	width:0;
  position:relative;
  top:10px;
  left:118px;
 
}
.roofUnSlant {
	background-color:#145788;
  border-bottom: 2px solid #1066a8;
  display:block;
  height:15px;
  width:328px;
  position:relative;
  top:10px;
  left:115px;
  z-index:-1;
}
#littleBit{
 background-color:#0c4f83;
 border-style:  outset;
 border-color:#1066a8;
 border-radius:5px 0 0 5px;
 height:53px; 
 width:15px;
 margin:23px 0px 0px -20px;
 Z-index:45; 
  
}

#top{
  background-color: #0c4f83;
  border: 1px solid #1066a8;
  height:100px;
  width: 332px;
  margin: 20px 0 0 0;
  position:relative;
  top:-25px;
  left:115px;
  z-index:-2;
  
}

#littleBit2{
 background-color:#0c4f83;
 border-style:  outset;
 border-color:#1066a8;
 border-radius:0 5px 5px 0;
 height:53px; 
 width:15px;
 margin:20px 0 0 35px;
 Z-index:45;  
}

#otherLittleBit{
 background-color:#0c4f83;
 border-style:  outset;
 border-color:#1066a8;
 border-radius:5px 0px 0px 0;
 height:22px; 
 width:22px;
 margin:-102px 80px 0px 7px;
 z-index:1; 
}

#otherLittleBit2{
 background-color:#0c4f83;
 border-style:  outset;
 border-color:#1066a8;
 border-radius:0px 6px 0px 0px;
 height:22px; 
 width:22px;
 margin:-99px 30px 0px 3px;
 z-index:1; 
}
.policeCall{
    background-color:#0c4f83;
    border-style:  outset;
    border-color:#1066a8;
    border-radius:5px;
    border-width: 3px;
    height:55px;
    width:340px;
    position:relative;
    left:110px;
    top:-70px;
    z-index:10;
}
.call{
    background-color:#091a45;
    font-family: 'Lato', sans-serif;
    color:white;
    font-size:70%;
    text-transform: uppercase; 
    text-align:center;
    border-style: inset;
    border-color:#1066a8;
    border-width: 5px;
    position:relative;
    left:5px;
    top:3px;
    height:40px;
    width:325px;
    z-index:15;
}

small{
    font-size: 12px;
    text-align: center;
}

.wrapper {
	  color:white;
    display: grid;
    grid-template-columns: 100px 40px 100px;
	  height:40px;

	}

	.box {
		border-radius: 5px;
		padding: 2x;
		font-size: 150%;
	}

	.public {
		grid-column: 2 / 3;
		grid-row: 1;
    height: 20px;
    text-align: center;
    line-height: 9px;
    padding-left: 40px;
	}

	.boxes {
		grid-column: 3 ;
		grid-row: 1 / 3;
    text-align: center;
    padding-top: 3px;
    padding-left: 80px;
       
	}

	.police {
	    grid-column: 1 ;
	    grid-row: 1/3 ;
      text-align: center;
      padding-top: 3px;
      padding-left: 45px;
    
	}
	.calls {
	    grid-column: 2;
	    grid-row: 2;
      height: 20px;
      text-align: center;
      line-height: 0.2;
      padding-left: 45px;
      padding-bottom: 5px;

	}


.leftPillar{
  background-color:#0c4f83;
  box-sizing: border-box;
  border-style:  outset;
  border-color:#1066a8;
  border-width: 5px;
  border-radius:6px 0 0 0;
  position:relative;
  left:40px;
  top:-150px;
  height:400px;
  width:40px;
  z-index:5px;
}

.doorContainer{
  position: relative;
  left: 50px; 
  height:500px;
  width:300px;
 
  
}
.leftDoor{
  background-color:#0c4f83;
   box-sizing: border-box;
   background-color:#0c4f83;
  border-style:  outset;
  border-color:#1066a8;
  float:left;
  height:350px;
  width:130px;
  position:relative;
  left:80px;
  top:-500px;
 
}

.leftWindow{
  background-color:white;
  border-style:  outset;
  border-color:white;
  border-width: 3px;
  margin:30px 8px 8px 25px;
  padding: 2px;
  width:85px;
  height:100px; 
}
.pane1{
  background-color:darkgrey;
  border-style:  inset;
  border-color:white;
  border-width: 3px;
  box-sizing: border-box;
  float: left;
  margin:2px 2px 2px 3px;
  padding:1px ;
  width:20px;
  height:41px;   
}
.pane2{
  background-color:Grey;
  border-style: inset;
  border-color:white;
  border-width: 3px;
  box-sizing: border-box;
  float: left;
  margin:2px 2px 2px 3px;
  padding:1px ;
  width:20px;
  height:40px;     
}

.stJohn{
  margin:25px 20px;
  width:40px;
  height:40px;
  
}

.panel1{
  background-color:#0c4f83;
  border-style:  inset;
  border-color:#1066a8;
  border-width: 5px;
  margin:25px 15px 20px 25px;
  padding:0;
  width:70px;
  height:85px;
}
.freeFor{
 background-color:white;
  font-family: times new roman;
  text-align:center;
  margin:0;
  padding: 0;
  width:75px;
  height:90px;
}

.policeTelephone{
  font-size:7px;
  line-height: 7px;
}

.policeTelephone small{
  font-size: 4px;

}
.inbetween{
  background-color:#0c4f83;
  box-sizing: border-box;
  border-style:  outset;
  border-color:#1066a8;
  border-width: 3px;
  float: left;
  /*margin:-744px 0px 0px 245px;*/
  height:560px;
  width:18px;
  position:relative;
  left:80px;
  top:-711px;
  z-index: 32;
}
.rightDoor{
  background-color:#0c4f83;
   box-sizing: border-box;
  border-style:  outset;
  border-color:#1066a8;
  box-sizing: border-box;
  float: left;
 /* margin:-742px 0px 0px 260px;*/
  height:560px;
  width:140px;
  position:relative;
  left:80px;
  top:-711px;
}
.rightWindow{
  background-color:white;
  border-style:  outset;
  border-color:white;
  border-width: 3px;
  margin:30px 8px 8px 25px;
  padding: 2px;
  width:85px;
  height:100px; 
  
  
}

.rightPillar{
  background-color:#0c4f83;
  box-sizing: border-box;
  border-style:  outset;
  border-color:#1066a8;
  border-width: 5px;
  border-radius:0 6px 0 0;
  position: relative;
  top:-550px;
  left: 378px;
  height:400px;
  width:40px;

}

#base{
  background-color:#0c4f83;
  box-sizing: border-box;
  border-style:  outset;
  border-color:#1066a8;
  border-width: 5px;
  border-radius:6px 6px 0 0;
  position: relative;
  top:-550px;
  left: 15px;
  height:20px;
  width:420px;

}


#color1{
  background-color:#0c4f83;
  color:white;
  display:block;
  width:60px;
  height:20px;
}
#color2{
  background-color:#1066a8;
  color:white;
  display:block;
  width:60px;
  height:20px;
}
#color3{
  background-color:#0c2d4c;
  display:block;
  color:white;
  width:60px;
  height:20px;
}

#color4{
  background-color:#091a45;
  color:white;
  display:block;
 width:60px;
  height:20px;
}
#color5{
  background-color:#1a77ba;
  color:white;
 width:60px;
  height:20px;
}